:root {
  --light-yellow: #FEE36E;
  --pink: #F16775;
  --purple: #373E98;
  --alt-purple: #8e94e6;
  --gray: #2A2A2A;
  --white: #FFFFFF;
  --black: rgb(0, 0, 0);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode {
  background-color: var(--gray);
  color: var(--white);
}

.dark-mode-title {
  background-color: var(--gray);
  color: var(--white);

}

.light-mode {
  background-color: var(--white);
}

.darkmode-toggle {
  margin: auto;
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--gray);
  font-size: .85rem;
  padding: .50rem;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.darkmode-toggle:hover {
  background-color: var(--gray);
  color: var(--white)
}

@media only screen and (max-width: 600px) {
  .img__title {
    display: none;
  }

 .div__title {
    display: block;
  }

  /* .div__search {
    width: 300px !important;
    margin-left: 11rem !important;
  } */
}

nav {
  border-bottom: 5px solid var(--light-yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.div__title {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.h1__title {
  display: block;
  font-family: 'Amatic SC', cursive;
  font-size: 7rem;
  font-weight: normal;
  color: var(--pink);
  line-height: 100px;
  width: auto;
}

.lightmode-h1__span {
  color: var(--purple);
}

.darkmode-h1__span {
  color: var(--alt-purple);
}

.img__title {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.div__content {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin: 7rem auto 1rem auto;
  /* min-width: 36rem; */
}

.div__card {
  /* min-width: 36rem; */
  height: 16rem;
  margin: .5rem auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  transition: 0.2s;
  outline: 1px solid rgb(243, 243, 243);
  transform: translateY(100px);
  opacity: 0;
  transition: 150ms;
} 

.div__last_card {
  margin: .5rem auto;
}

.card__show { 
  transform: translateY(0);
  opacity: 1;
}

.div__card:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.50);
}

.img__card {
  padding: 1rem;
  object-fit: contain;
  border-radius: 1.75rem; 
}

.div__card_content {
  display: flex;
  align-items: center;
}

.div__card_content_text {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1__card_title {
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.p__card_desription {
  font-family: Arial,
    Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.7;
  width: 25rem;
}

.p__card_lonlat {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  padding-top: 1rem;
}

.div__search {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 7rem auto 1rem auto;
  width: 50%; 
}

.h1__search_text{
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: auto;
  color: var(--purple);
}

.input__search {
  width: 300px;
  min-width: 300px;
  margin: auto;
  box-sizing: border-box;
  border: .25rem solid var(--light-yellow);
  padding: .5rem;
  background: #FFFFFF;
  border: 3px solid #FEE36E;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.input__search:focus {  
  outline-color: var(--pink);
}

.map {
  width: 400px;
  height: 75px;
  outline: 1px solid rgb(187, 187, 187);
}

.ol-zoom-out {
  margin: 55px 0 0 0;
  width: 50px;
  color: var(--white);
  background-color: var(--purple);
  float: right;
  border-radius: .25rem;
  border-color: var(--purple);
}
.ol-zoom-in {
  margin: 55px 0 0 0;
  width: 50px;
  background-color: var(--pink);
  color: var(--white);
  float: left;
  border-radius: .25rem;
  border-color: var(--pink);
}

.ol-rotate-reset {
  display: none;
}

.ol-attribution {
  display: none;
}

.modal__overlay{
  position:fixed;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  background-color: rgba(55, 62, 152, 0.75);
}

.div__image-modal{
  position: fixed;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  z-index: 100;
}

.div__image-modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bebas Neue';
  align-items: center;
  font-size: 2rem;
}

.button__image-modal {
  width: fit-content;
  background-color: var(--pink);
  padding: 1rem;
  border: none;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 1rem;
  color: var(--white);
  border-radius: .25rem;
  margin-left: 25rem; /* Looks nicer when loading image*/
}

.button__image-modal:hover {
  background-color: var(--purple);
}
.spinner {
  border: 10px solid var(--light-yellow);
  border-top: 10px solid var(--purple);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.div__loading {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}